.product {
  &-wrapper {
    position: relative;
  }

  &__img {
    object-fit: cover;
    width: 240px;
    height: 240px;
  }

  &__svg {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    transition: 0.1s transform ease-in;

    &:hover {
      transform: scaleY(1.1);
    }
  }
  &__title {
    font-size: 18px;
    font-weight: 500;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__inner {
    display: flex;
    gap: 10px;
    padding: 15px 0;
    align-items: center;

    &-old-price {
      font-size: 20px;
      font-weight: 600;
      color: #b8b8b8;
      text-decoration-line: line-through;
    }

    &-new-price {
      font-size: 27px;
      font-weight: 600;
      line-height: 136.9%;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 35px;
  margin: 20px 0;

  @media (max-width: 1920px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  @media (max-width: 1500px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 900px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}
