.card {
  background-color: #ddf3ff;
  border-radius: 10px;

  &-wrapper {
    padding: 35px;
  }
  &__inner {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 15px;
  }
  &__inner-input {
    border-radius: 50%;
  }
  &__inner-answer {
    font-size: 15px;
    font-weight: 400;
  }

  &__question {
    font-size: 20px;
    font-weight: 700;
  }
}

.wrapper {
  padding: 36px 0;
}
